


<h1>Create Employee</h1>
<form #forme="ngForm" (ngSubmit)="createEmployee(forme)">
    <p><input type="text" placeholder="name" name="name" ngModel required #name="ngModel"></p>
    <p><input type="text" placeholder="first name" name="first_name" ngModel required #first_name="ngModel"></p>
    <p><input type="text" placeholder="login" name="login" ngModel required #login="ngModel"></p>
    <p><input type="text" placeholder="email" name="email" ngModel required #email="ngModel"></p>
    <p><input type="password" placeholder="password" name="password" ngModel required #password="ngModel"></p>
    <input type="submit" class="prt" value="Ajouter">
</form>

<table border='1'>
    <tr>
        <th>Name</th>
        <th>First Name</th>
        <th>email</th>
    </tr>
    <tr *ngFor ="let employee of employees">
        <td>{{employee.name}}</td>
        <td>{{employee.first_name}}</td>
        <td>{{employee.email}}</td>
    </tr>
</table>
<nav>
    <ul class="pagination">
        <li><a (click)="Pagination()" ><span aria-hidden="true" ><<</span></a></li>
        <li  *ngFor="let number of paginate" class="page-item"><a  (click)="Pagination()" >{{number}}</a></li>
        <li><a (click)="Pagination()"><span aria-hidden="true">>></span></a></li>
    </ul>
</nav>



