@import '~swiper/swiper-bundle.css';


.div-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    transform: translateY(-50%);
    margin-top: 10%;
}

.div-image img{
    width: 100%;
    height: auto;
    display: block;
}

.custom-swiper-button-prev,
.custom-swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: #4f2e2e;
  cursor: pointer;
  /* Styling des flèches personnalisées */
}

.custom-swiper-button-prev {
  left: 10px;
}

.custom-swiper-button-next {
  right: 10px;
}


