<div class="content">
    <div class="py-4 px-3 px-md-4">
        <div class="card mb-3 mb-md-4">

            <div class="card-body">
                <!-- Breadcrumb -->
                <nav class="d-none d-md-block" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Users</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">All Users</li>
                    </ol>
                </nav>
                <!-- End Breadcrumb -->

                <div class="mb-3 mb-md-4 d-flex justify-content-between">
                    <div class="h3 mb-0">Users</div>
                </div>


                <!-- Users -->
                <div class="table-responsive-xl">
                    <table class="table text-nowrap mb-0">
                        <thead>
                            <tr>
                                <!-- <th class="font-weight-semi-bold border-top-0 py-2">#</th> -->
                                <th class="font-weight-semi-bold border-top-0 py-2">Name</th>
                                <th class="font-weight-semi-bold border-top-0 py-2">First Name</th>
                                <th class="font-weight-semi-bold border-top-0 py-2">Login</th>
                                <th class="font-weight-semi-bold border-top-0 py-2">Email</th>
                                <th class="font-weight-semi-bold border-top-0 py-2">Registration Date</th>
                                <th class="font-weight-semi-bold border-top-0 py-2">Status</th>
                                <th class="font-weight-semi-bold border-top-0 py-2">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let employee of employees let index">
                                <!-- <td class="py-3">{{index}}</td> -->
                                <td class="align-middle py-3">
                                    <div class="d-flex align-items-center">
                                        <div class="position-relative mr-2">
                                            <span
                                                class="indicator indicator-lg indicator-bordered-reverse indicator-top-left indicator-success rounded-circle"></span>
                                            <!--img class="avatar rounded-circle" src="#" alt="John Doe"-->
                                            <span class="avatar-placeholder mr-md-2">J</span>
                                        </div>
                                        {{employee.name}}
                                    </div>
                                </td>
                                <td class="py-3">{{employee.first_name}}</td>
                                <td class="py-3">{{employee.login}}</td>
                                <td class="py-3">{{employee.email}}</td>
                                <td class="py-3">
                                    <span class="badge badge-pill badge-success">{{employee.date_create}}</span>
                                </td>
                                <td *ngIf="employee && employee.etat === 10">
                                    <span class="badge badge-pill badge-success">Active</span>
                                </td>
                                <td *ngIf="employee && employee.etat !== 10">
                                    <span class="badge badge-pill badge-error">Vide</span>
                                </td>
                                <td class="py-3">
                                    <div class="position-relative">
                                        <Button class="btn-primary" style="border-radius: 20px;"
                                            (click)="UpdateEmployee(employee)">
                                            edit
                                        </Button>
                                        <a class="link-dark d-inline-block" href="#">
                                            <i class="gd-trash icon-text"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <div *ngIf="loading===true" id="ftco-loader" class="show fullscreen"><svg class="circular"
                            width="48px" height="48px">
                            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4"
                                stroke="#eeeeee" />
                            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4"
                                stroke-miterlimit="10" stroke="#F96D00" />
                        </svg></div>
                    <div class="card-footer d-block d-md-flex align-items-center d-print-none">
                        <div class="d-flex mb-2 mb-md-0">Showing 1 to 8 of 24 Entries</div>

                        <nav class="d-flex ml-md-auto d-print-none" aria-label="Pagination">
                            <ul class="pagination justify-content-end font-weight-semi-bold mb-0">
                                <li class="page-item"> <a id="datatablePaginationPrev" class="page-link" href="#!"
                                        aria-label="Previous"><i
                                            class="gd-angle-left icon-text icon-text-xs d-inline-block"></i></a> </li>
                                <li *ngFor="let i of getRange(numberPage)" class="page-item d-none d-md-block"><a
                                        id="datatablePaginationPage0" class="page-link active" (click)="paginate(i+1)"
                                        data-dt-page-to="0">{{i+1}}</a></li>


                                <li class="page-item"> <a id="datatablePaginationNext" class="page-link" href="#!"
                                        aria-label="Next"><i
                                            class="gd-angle-right icon-text icon-text-xs d-inline-block"></i></a> </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- End Users -->
            </div>
        </div>


    </div>
</div>