



<div class="content">
    <div class="py-4 px-3 px-md-4">
        <div class="card mb-3 mb-md-4">

            <div class="card-body">
                <!-- Breadcrumb -->
                <nav class="d-none d-md-block" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Service</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Create New Service</li>
                    </ol>
                </nav>
                <!-- End Breadcrumb -->

                <div class="mb-3 mb-md-4 d-flex justify-content-between">
                    <div class="h3 mb-0">Update Service</div>
                </div>


                <!-- Form -->
                <div>
                    <form #forme="ngForm" (ngSubmit)="UpdateService(forme)">
                        <div class="form-row">
                            <div class="form-group col-12 col-md-6">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" [(ngModel)]="service_to_update.name" id="name" name="name" placeholder="Service Name" ngModel required #name="ngModel">
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label for="name">Price</label>
                                <input type="text" class="form-control" [(ngModel)]="service_to_update.price" id="name" placeholder="Price" name="price" ngModel required #price="ngModel">
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label for="email">Delay in hours</label>
                                <input type="text" class="form-control" [(ngModel)]="service_to_update.delay" id="delay" name="delay" placeholder="Delay" ngModel required #delay="ngModel">
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label for="email">commission</label>
                                <input type="text" class="form-control" [(ngModel)]="service_to_update.commission" id="commission" name="commission" placeholder="commission" ngModel required #commission="ngModel">
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                  <textarea name="description" id="" cols="30" rows="7" class="form-control" placeholder="description" [(ngModel)]="service_to_update.description" ngModel required #description="ngModel"></textarea>
                                </div>
                             </div>
                        </div>
                        <!-- <div class="form-row">
                            <div class="form-group col-12 col-md-6">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" value="" id="password" name="password" placeholder="New Password"  ngModel required #password="ngModel">
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label for="password_confirm">Confirm Password</label>
                                <input type="password" class="form-control" value="" id="password_confirm" name="password_confirm" placeholder="Confirm Password">
                            </div>
                        </div> -->
                        <!-- <div class="custom-control custom-switch mb-2">
                            <input type="checkbox" class="custom-control-input" id="randomPassword">
                            <label class="custom-control-label" for="randomPassword">Set Random Password</label>
                        </div> -->
                        <button  class="btn btn-primary float-right">Create Service</button>
                        <button [mat-dialog-close]="true" class="btn btn-primary float-right">Cancel</button>
                    </form>
                </div>
                <!-- <mat-dialog-actions align="end">
                    <button mat-button mat-dialog-close>Cancel</button>
                    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
                </mat-dialog-actions> -->
                <!-- End Form -->
            </div>
        </div>


    </div>

    <!-- Footer -->
    <footer class="small p-3 px-md-4 mt-auto">
        <div class="row justify-content-between">
            <div class="col-lg text-center text-lg-left mb-3 mb-lg-0">
                <ul class="list-dot list-inline mb-0">
                    <li class="list-dot-item list-dot-item-not list-inline-item mr-lg-2"><a class="link-dark" href="#">FAQ</a></li>
                    <li class="list-dot-item list-inline-item mr-lg-2"><a class="link-dark" href="#">Support</a></li>
                    <li class="list-dot-item list-inline-item mr-lg-2"><a class="link-dark" href="#">Contact us</a></li>
                </ul>
            </div>

            <div class="col-lg text-center mb-3 mb-lg-0">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mx-2"><a class="link-muted" href="#"><i class="gd-twitter-alt"></i></a></li>
                    <li class="list-inline-item mx-2"><a class="link-muted" href="#"><i class="gd-facebook"></i></a></li>
                    <li class="list-inline-item mx-2"><a class="link-muted" href="#"><i class="gd-github"></i></a></li>
                </ul>
            </div>

            <div class="col-lg text-center text-lg-right">
                &copy; 2019 Graindashboard. All Rights Reserved.
            </div>
        </div>
    </footer>
    <!-- End Footer -->
</div>






