

<div class="wrapper">
  <div class="header">
      <h1 class="let-recherche">Header</h1>
      
      <table>
          <tr>
              <td><a routerLink="/ajout-personne"><button>Create personne</button></a></td>
              <td><a routerLink="/personne"><button>Create expenses</button></a></td>
              <td><a routerLink="/home"><button>Home</button></a></td>
              <td><a routerLink="/employee/create"><button>Create Employee</button></a></td>
             <!-- <td><a routerLink="/listedepense"><button>Les Depenses</button></a></td>
              <td><a routerLink="/reportcaisse"><button>Faire Report</button></a></td>
              <td><a routerLink="/estimerbudjet"><button>Estimer Budjet</button></a></td>
              <td><a routerLink="/calendrierbudjet"><button>Calendrier Budjet</button></a></td>
              <td><a routerLink="/liste_emprunt"><button>Les Emprunts</button></a></td> -->
          </tr>
      </table>
      <h2></h2>
      <div class="wrapper">
      <div hidden class="CLrecherche"> <p class="let-recherche"> Recherche : <input class="recherche" type="text" placeholder="recherche" style="border-radius: 10px;"></p></div>
      </div>
      
  </div>
</div>

<router-outlet></router-outlet>

<!-- End Footer -->
