<section class="services-section ftco-section" >
    <div class="container">

       <div class="row justify-content-center pb-3">
        <div class="col-md-10 heading-section text-center ftco-booking">
           <span class="subheading">Services</span>
          <h2 class="mb-4">Services Menu</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
        </div>
      </div>

      <!-- <div  class="row no-gutters d-flex">

        <div *ngFor ="let service of services" class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-booking">
          <div *ngIf="isFavoris===false">
            <div class="media block-6 services d-block text-center">
              <div class="icon"><span class="flaticon-beard"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">{{service.name}}</h3>
                <h4>{{service.description}}</h4>
                <p>A small river named Duden flows by their place and supplies.</p>
                <div *ngIf="userConnect">
                <p *ngIf="service.state===0">
                  <input  type="checkbox" (change)="CheckPreference(10,service)">
                 
                </p>
                <p *ngIf="service.state===10">
                  <input checked type="checkbox" (change)="CheckPreference(0,service)">
                  <span ></span>
                </p>
              </div>
              </div>
            </div>    
          </div>
          <div *ngIf="isFavoris===true">
            <div *ngIf="service.state===10">
            <div class="media block-6 services d-block text-center">
              <div class="icon"><span class="flaticon-beard"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">{{service.name}}</h3>
                <h4>{{service.description}}</h4>
                <p>A small river named Duden flows by their place and supplies.</p>
                <div *ngIf="userConnect">
                <p *ngIf="service.state===10">
                  <input checked type="checkbox" (change)="CheckPreference(0,service)">
                  <span ></span>
                </p>
              </div>
              </div>
            </div>   
          </div>
          </div>
         
        </div> -->

        
      <!-- </div> -->
    </div>
  </section>
  <section>
    <div>
    <div class="col-md-12 d-flex ftco-animated" *ngFor="let service of services">
      <div class="blog-entry align-self-stretch d-md-flex" *ngIf="isFavoris===false">
        <a href="blog-single.html" class="block-20" style="background-image: url('../../../assets/images/work-3.jpg');">
        </a>
        <div class="text d-block pl-md-4">
          <div class="meta mb-3">
            <!-- <div><a href="#">Sept. 12, 2019</a></div>
            <div><a href="#">Admin</a></div> -->
            <div>
              <div *ngIf="userConnect">
                <p *ngIf="service.state===0">
                  <button (click)="CheckPreference(10,service)"><span >🤍</span></button>
                </p>
                <p *ngIf="service.state===10">
                  <!-- <input checked type="checkbox" (change)="CheckPreference(0,service)" style="background-color: brown;"> -->
                  <button (click)="CheckPreference(0,service)"><span >❤️</span></button>
                </p>
              </div>
            </div>
          </div>
          <h3 class="heading">{{service.name}}</h3>
          <p>{{service.description}}</p>
          <p>The service provided is of high quality, exceptional, and truly commendable, delivering remarkable satisfaction and value..</p>
          <p><a href="blog-single.html" class="btn btn-primary py-2 px-3">Meet up</a></p>
        </div>
      </div>
      <div class="blog-entry align-self-stretch d-md-flex" *ngIf="isFavoris===true && service.state===10">
        
        <a href="blog-single.html" class="block-20" style="background-image: url('../../../assets/images/work-3.jpg');">
        </a>
        <div class="text d-block pl-md-4" >
          <div class="meta mb-3">
            <div><a href="#">Sept. 12, 2019</a></div>
            <div><a href="#">Admin</a></div>
            <div>
              <div *ngIf="userConnect">
                <p *ngIf="service.state===10">
                  <!-- <input checked type="checkbox" (change)="CheckPreference(0,service)"> -->
                  <button (click)="CheckPreference(0,service)"><span >❤️</span></button>
                  <span ></span>
                </p>
              </div>
            </div>
          </div>
          <h3 class="heading">{{service.name}}</h3>
          <p>{{service.description}}</p>
          <p>The service provided is of high quality, exceptional, and truly commendable, delivering remarkable satisfaction and value..</p>
          <p><button href="blog-single.html" class="btn btn-primary py-2 px-3">Meet up</button></p>
        </div>
      </div>
      
    </div>
  </div>
    <!-- <div class="row mt-5">
      <div class="col">
        <div class="block-27">
          <ul>
            <li><a href="#">&lt;</a></li>
            <li class="active"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&gt;</a></li>
          </ul>
        </div>
      </div>
    </div> -->
    <!-- <div class="col-lg-4 sidebar ftco-animated">
      <div class="sidebar-box bg-light">
        <form action="#" class="search-form bg-light">
          <div class="form-group">
            <span class="icon ion-ios-search"></span>
            <input type="text" class="form-control" placeholder="Search...">
          </div>
        </form>
      </div>
    </div> -->
    <!-- <div class="col-md-4 d-flex ftco-animated">
      <div class="sidebar-box bg-light">
        <form action="#" class="search-form bg-light">
          <div class="form-group">
            <span class="icon ion-ios-search"></span>
            <input type="text" class="form-control" placeholder="Search...">
          </div>
        </form>
      </div>
      <div class="sidebar-box bg-light ftco-animated">
        <h3 class="heading-2">Categories</h3>
        <ul class="categories">
          <li><a href="#">Bags <span>(12)</span></a></li>
          <li><a href="#">Shoes <span>(22)</span></a></li>
          <li><a href="#">Dress <span>(37)</span></a></li>
          <li><a href="#">Accessories <span>(42)</span></a></li>
          <li><a href="#">Makeup <span>(14)</span></a></li>
          <li><a href="#">Beauty <span>(140)</span></a></li>
        </ul>
      </div>
    </div> -->
  </section>
