<!DOCTYPE html>
<html lang="en">
 
<!-- <app-header-menu></app-header-menu> -->
  <body>
   
    <!-- END nav -->

       <section class="ftco-section ftco-booking bg-light">
         <div class="container ftco-relative">
            <div class="row justify-content-center pb-3">
            <div class="col-md-10 heading-section text-center ftco-booking">
               <span class="subheading">Login client</span>
              <h2 class="mb-4">Login</h2>
              
            </div>
          </div>
          <h3 class="vr"></h3>
            <div class="row justify-content-center">
               <div class="col-md-4 ftco-booking">
                  <form #forme="ngForm" (ngSubmit)="Connect(forme)" class="appointment-form">
                 <div class="row">
                   <div class="col-sm-12">
                     <div class="form-group">
                         <input type="text" class="form-control" name="email" placeholder="Email or phone number" ngModel required #email="ngModel">
                       </div>
                   </div>
                   <div class="col-sm-12">
                     <div class="form-group">
                       <input type="password" class="form-control" name="pass" placeholder="password" ngModel required #pass="ngModel">
                     </div>
                   </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                   <input type="submit" value="Login" class="btn btn-primary">
                   
                </div>
                <a href="/Register">Customer Register</a>
                 </div>
                 
               </form>
               </div>
            </div>
         </div>
      </section>
		
   <app-footer></app-footer>

  <!-- loader -->
  <!-- <div *ngIf="loading===true" id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div> -->
    
  </body>
</html>
